@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

body > div:first-child {
  width: 600px;
  margin: 40px auto;
  padding-left: 40px;
}

h1 {
  font-size: 4.4rem;
  letter-spacing: 4.9px;
  font-family: "Great Vibes", cursive, Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(106, 106, 106);
  margin: 20px 0;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#input-number {
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  width: 200px;
}

#input-number::placeholder {
  color: rgb(211, 211, 211);
}

button {
  padding: 20px;
  font-size: 1.2rem;
  background-color: rgba(0, 181, 97, 0.697);
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all linear 80ms;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0;
}

.counter-display {
  display: flex;
  border-top: 2px solid black;
  height: 50vh;
}

.counter-s,
.counter-l {
  width: 50%;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

h3 {
  font-size: 3.2rem;
}

p {
  font-size: 2.4rem;
  color: rgba(0, 181, 97, 0.697);
  font-weight: 800;
}
